{% extends "layout.html" %}
{% block content %}
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='styleforhome.css') }}">
<p><img id="pic" src="{{ url_for('static', filename='img/profilepic.jpg')}}">
<h2><u>OBJECTIVE:</u></h2>
<h3>To be a part of an organization that entices, enhances and promotes overall growth and development of an
  individual and to be a part of its progressive development.
  </h3><br>
<h2><u>TECHNICAL SKILLS:</u></h2>
<h3>C Programming, JAVA, Python, Matlab, HTML, CSS, JAVA Script and MySQL.</h3>


<table>
  <tr>
    <th>Education</th>
    <th>Name of the Institute</th>
    <th>Year of Passing</th>
    <th>Percentage</th>
  </tr>
</table>

<table>
  <tr>
    <td>M.sc
      (Computing With Placement)</td>
    <td>Cardiff University</td>
    <td>2023</td>
    <td>Pursuing</td>

  </tr>
  <tr>
    <td>B.Tech
      (ECE)</td>
    <td>Ace Engineering College</td>
    <td>2020</td>
    <td>65%</td>

  </tr>

  <tr>
    <td>INTERMEDIATE (MPC) </td>
    <td>Trinity Junior College </td>
    <td>2016</td>
    <td>93%</td>

  </tr>
  
  
</table>
<h2><u>CERTIFICATION:</u></h2>
<h3><pre>
  • Certificate of Technical Support Fundamentals by Google at Coursera.
  • Certificate of Appreciation in State level science fair by Govt of AP.
  • Certificate of Appreciation in District level science fair by Govt of AP.
  • Certificate of Participation in Two days workshop on NodeMCU conducted by inEntirety Innovations.</h3></pre>
<h2><u>ACHIVEMENTS:</u></h2>
<h3><pre>
  • Won First prize in District level Science, Mathematics and Environmental Exhibition by Govt of AP.
  • Qualified for National means cum merit scholarship in VIII standard. </pre></h3>
<h2><u>PROJECT DETAILS:</u></h2>
<h3>Project Name: Forest fire detection and prediction using NodeMCU.</h3>
<h3>In this project, a temperature and humidity sensors are interfaced to NodeMCU, sensors detect the temperature and humidity produced from the fire. The values updated from the sensors are uploaded to the cloud and changes in the
  values are taken into the consideration and made to detect the fire.</h3>
<h2><u>STRENGTH:</u></h2>
<h3><pre>
  • Logical and applied Mathematical skills, Strong passion to design and develop IOT.
  • Good communication skills.
  • Ability to work in group as well as independently with minimal supervision.
  • Self-confidence and friendly nature.
  </pre></h3>
<h2><u>EXPERIENCE:</u></h2>
<h3>Bussiness Development Associate (SEPTEMBER 2021 - MARCH 2022)</h3>
<h3>Served as an enthusiastic and knowledgeable Sales Associate in BYJYS (The Learning Application) to reach my targets.</h3>
{% endblock content %}
